.container {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 1rem;
  width: min(100%, 1440px);
  min-height: 100svh;
  margin-inline: auto;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.title {
  margin: 1rem 0;
  margin-bottom: 1rem;
}

.record {
  background-color: rgb(46, 48, 51);
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.footer {
  align-self: end;
  text-align: center;
  margin: 1rem;
}
.footer a {
  text-decoration: underline;
}

/* clips */

.clips {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  row-gap: 1rem;
}

.clips iframe {
  background-color: lightgray;
}

.clip h5 {
  max-width: 300px;
}

.pagination {
  margin: 0 auto;
}
