.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: min(100%, 768px);
  min-height: 100svh;
  margin-inline: auto;
}

.title {
  margin: 1rem 0;
  margin-bottom: 1rem;
}

.channels {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.channel img {
  margin-inline: auto;
  aspect-ratio: 1 / 1;
  width: 100px;
}

.more {
  height: fit-content;
}

.footer {
  grid-row-start: 4;
  text-align: center;
  margin: 1rem;
}
.footer a {
  text-decoration: underline;
}
